# macOS specific
 .DS_Store

 # xcodegen 
*.xcodeproj/
*.xcworkspace/
DerivedData/
ChatHub.xcodeproj/
ChatHub.xcworkspace/contents.xcworkspacedata
ChatHub.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ChatHub.xcworkspace/xcuserdata/jakubmalczyk.xcuserdatad/UserInterfaceState.xcuserstate
ChatHub/Views/RegisterView/RegisterConstants.swift
